<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FilterItemsArray</key>
	<array>
		<string>Jobs by Title</string>
		<string>Jobs by Freshness</string>
		<string>Jobs by Monthly Salary</string>
		<string>Jobs by Country</string>
		<string>Jobs by Gender</string>
		<string>Jobs by Experience</string>
		<string>Jobs by Industry</string>
		<string>Jobs by City</string>
		<string>Jobs by Employers</string>
	</array>
	<key>JobsDownloadLimit</key>
	<integer>15</integer>
	<key>BaseURL</key>
	<array>
		<string>http://testng2.infoedge.com</string>
		<string>https://login.testng2.infoedge.com</string>
		<string>http://172.16.2.178:8081</string>
		<string>http://192.168.2.118:30080</string>
	</array>
	<key>LocationArray</key>
	<array>
		<string>United Arab Emirates</string>
		<string>Dubai</string>
		<string>Abu Dhabi</string>
		<string>Sharjah</string>
		<string>Saudi Arbia</string>
		<string>Riyadh</string>
		<string>Jeddah</string>
		<string>Damman/Khobar</string>
		<string>Bahrain</string>
		<string>Kuwait</string>
		<string>Qatar</string>
		<string>Oman</string>
		<string>Other</string>
	</array>
	<key>APIURL</key>
	<array>
		<string>/jobapi/v1/search</string>
		<string>/jobapi/v1/ssa</string>
		<string>/jobapi/v2/job/%@</string>
		<string>/jobapi/v1/recentsearch</string>
		<string>/jobapi/v1/job/%@/email</string>
		<string>/mnjapi/v1/user/profile/feedback</string>
		<string>/ng/jobsearch/api/ssa/modifySSA</string>
		<string>/jobapi/v1/job/%@/customquestions</string>
		<string>/mnjapi/v1/user/login</string>
		<string>/mnjapi/v1/device/register</string>
		<string>/jobapi/v2/jobrecommendations</string>
		<string>/mnjapi/v2/user/profile</string>
		<string>/mnjapi/v1/user/logout</string>
		<string>/applyapi/v1/apply</string>
		<string>/applyapi/v1/user/apply</string>
		<string>/applyapi/v1/user/apply/details</string>
		<string>/mnjapi/v1/user/profile/viewDetail</string>
		<string>/mnjapi/v1/device/notification</string>
		<string>/mnjapi/v1/device/notification</string>
		<string>/mnjapi/v1/device/notification</string>
		<string>/mnjapi/v2/user/profile</string>
		<string>/ng/editServiceApi/index.php/resume/deleteResume</string>
		<string>/mnjapi/v2/user/profile/dashboard</string>
		<string>/jobapi/v1/job/%@/similarjobs</string>
		<string>/ng/mnj/api/register/forgotPassword</string>
		<string>/resmanapi/v1/user/register/checkEmail</string>
		<string>/ng/jobsearch/api/mis/logMis</string>
		<string>/mnjapi/v1/user/profile/photo</string>
		<string>/mnjapi/v2/user/profile/photo</string>
		<string>/nLogger/errLogger.php</string>
		<string>/mnjapi/v1/user/profile/photo</string>
		<string>/mnjapi/v1/user/exchangetoken</string>
		<string>/pullbackapi/v1/versioncheck</string>
		<string>/mnjapi/v1/settings</string>
		<string>/resmanapi/v1/user/register</string>
		<string>/mnjapi/v2/user/profile/cv</string>
		<string>/mnjapi/v1/user/profile/cv</string>
		<string>/resmanapi/v1/user/cvRemindMeLater</string>
		<string>/mnjapi/v1/logger/loguseraction/webjobapply</string>
		<string>/ncFileUploadService/web/saveFile.php/appId/%@</string>
		<string>/settingsapi/v1/dropdown/%@</string>
		<string>/mnjapi/v1/user/profile</string>
	</array>
	<key>DropDownData</key>
	<array>
		<string>countries</string>
		<string>basicDegree</string>
		<string>doctorateDegree</string>
		<string>mastersDegree</string>
		<string>months</string>
		<string>nationality</string>
		<string>years</string>
		<string>Locations</string>
		<string>FunctionalArea</string>
		<string>IndustryType</string>
		<string>Salary</string>
		<string>gender</string>
		<string>languages</string>
		<string>MaritalStatus</string>
		<string>Religion</string>
		<string>VisaStatus</string>
		<string>WorkLevel</string>
		<string>EmploymentStatus</string>
		<string>EmploymentPreference</string>
		<string>PrefferedLocation</string>
		<string>AvailabilityToJoin</string>
		<string>SalaryRange</string>
		<string>HighestEducation</string>
		<string>AlertsSetting</string>
		<string>Currency</string>
	</array>
	<key>MenuListForNotLogedIn</key>
	<dict>
		<key>MenuList</key>
		<array>
			<dict>
				<key>MenuIcon</key>
				<string>login.png</string>
				<key>MenuLabel</key>
				<string>Login</string>
				<key>MenuAction</key>
				<string>11</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>register.png</string>
				<key>MenuLabel</key>
				<string>Register with Naukrigulf</string>
				<key>MenuAction</key>
				<string>12</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>search.png</string>
				<key>MenuLabel</key>
				<string>Search Jobs</string>
				<key>MenuAction</key>
				<string>2</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>shortlistedJobs.png</string>
				<key>MenuLabel</key>
				<string>Shortlisted Jobs</string>
				<key>MenuAction</key>
				<string>4</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>feedback icon.png</string>
				<key>MenuLabel</key>
				<string>Career Cafe</string>
				<key>MenuAction</key>
				<string>7</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>whatsNew.png</string>
				<key>MenuLabel</key>
				<string>What&apos;s New</string>
				<key>MenuAction</key>
				<string>8</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>rate_app.png</string>
				<key>MenuLabel</key>
				<string>Feedback</string>
				<key>MenuAction</key>
				<string>10</string>
			</dict>
		</array>
	</dict>
	<key>MenuListItemsForLogedIn</key>
	<dict>
		<key>MenuList</key>
		<array>
			<dict>
				<key>MenuIcon</key>
				<string>home.png</string>
				<key>MenuLabel</key>
				<string>My NaukriGulf Home</string>
				<key>MenuAction</key>
				<string>1</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>search.png</string>
				<key>MenuLabel</key>
				<string>Search Jobs</string>
				<key>MenuAction</key>
				<string>2</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>whoViewedCv.png</string>
				<key>MenuLabel</key>
				<string>Who Viewed my CV</string>
				<key>MenuAction</key>
				<string>3</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>shortlistedJobs.png</string>
				<key>MenuLabel</key>
				<string>Shortlisted Jobs</string>
				<key>MenuAction</key>
				<string>4</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>recommended.png</string>
				<key>MenuLabel</key>
				<string>Recommended Jobs</string>
				<key>MenuAction</key>
				<string>5</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>history.png</string>
				<key>MenuLabel</key>
				<string>Apply History</string>
				<key>MenuAction</key>
				<string>6</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>feedback icon.png</string>
				<key>MenuLabel</key>
				<string>Career Cafe</string>
				<key>MenuAction</key>
				<string>7</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>whatsNew.png</string>
				<key>MenuLabel</key>
				<string>What&apos;s New</string>
				<key>MenuAction</key>
				<string>8</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>rate_app.png</string>
				<key>MenuLabel</key>
				<string>Feedback</string>
				<key>MenuAction</key>
				<string>10</string>
			</dict>
			<dict>
				<key>MenuIcon</key>
				<string>logout.png</string>
				<key>MenuLabel</key>
				<string>Log Out</string>
				<key>MenuAction</key>
				<string>9</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
