<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>DDCountry</string>
		<key>serviceName</key>
		<string>country</string>
		<key>dependentClassName</key>
		<string>DDCity</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDCity</string>
		<key>serviceName</key>
		<string>city</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>country</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDUGCourse</string>
		<key>serviceName</key>
		<string>ugcourse</string>
		<key>dependentClassName</key>
		<string>DDUGSpec</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDUGSpec</string>
		<key>serviceName</key>
		<string>ugspec</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>ugcourse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDPGCourse</string>
		<key>serviceName</key>
		<string>pgcourse</string>
		<key>dependentClassName</key>
		<string>DDPGSpec</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDPGSpec</string>
		<key>serviceName</key>
		<string>pgspec</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>pgcourse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDPPGCourse</string>
		<key>serviceName</key>
		<string>ppgcourse</string>
		<key>dependentClassName</key>
		<string>DDPPGSpec</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDPPGSpec</string>
		<key>serviceName</key>
		<string>ppgspec</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>ppgcourse</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDExpMonth</string>
		<key>serviceName</key>
		<string>exp_month</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDWorkLevel</string>
		<key>serviceName</key>
		<string>work_level</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDSalaryLacs</string>
		<key>serviceName</key>
		<string>salary_lacs</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDIndustryType</string>
		<key>serviceName</key>
		<string>industry_type</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDJobType</string>
		<key>serviceName</key>
		<string>job_type</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDPrefLocation</string>
		<key>serviceName</key>
		<string>pref_location</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDEmploymentStatus</string>
		<key>serviceName</key>
		<string>employment_status</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDFArea</string>
		<key>serviceName</key>
		<string>farea</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDCurrency</string>
		<key>serviceName</key>
		<string>currency</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDWorkStatus</string>
		<key>serviceName</key>
		<string>work_status</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDNationality</string>
		<key>serviceName</key>
		<string>nationality</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDNoticePeriod</string>
		<key>serviceName</key>
		<string>notice_period</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDReligion</string>
		<key>serviceName</key>
		<string>religion</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDMaritalStatus</string>
		<key>serviceName</key>
		<string>marital_status</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDExpYear</string>
		<key>serviceName</key>
		<string>exp_year</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDLanguage</string>
		<key>serviceName</key>
		<string>language</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDHighestEducation</string>
		<key>serviceName</key>
		<string>higher_education</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDAlert</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDGender</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDSalaryRange</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>DDLocation</string>
		<key>serviceName</key>
		<string>search_location</string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Desig-FA-Mapping</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string>FAMapped</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>FAMapped</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>Designation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Comp-IA-Mapping</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string>IAMapped</string>
		<key>parentName</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>IAMapping</string>
		<key>serviceName</key>
		<string></string>
		<key>dependentClassName</key>
		<string></string>
		<key>parentName</key>
		<string>CompanyName</string>
	</dict>
</array>
</plist>
