<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A363F06F1C8FEF3D0060ACBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64A4A061C9154AB007C7F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF175ADE174B613300582D3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C6BE851C3FD8B800B391FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
