<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfigFile</key>
	<string>${APP_CONFIG}</string>
	<key>CFBundleDisplayName</key>
	<string>Naukrigulf</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>PDF File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>DOC File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>RTF File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb766324060169629</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-7r8cf9hco8nid6h</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naukrigulf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naukrigulf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ng</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.946992003672-helss6vbjvpupvsv18smuj4a7q72lvb6</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.946992003672-helss6vbjvpupvsv18smuj4a7q72lvb6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.infoedge.NaukriGulf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.infoedge.NaukriGulf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>361272044007341</string>
	<key>FacebookDisplayName</key>
	<string>Naukrigulf iOS App</string>
	<key>GoogleAnalyticActive</key>
	<string>${GA_ACTIVE}</string>
	<key>GoogleAnalyticBackground</key>
	<string>${GA_BG}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb</string>
		<string>dbapi-2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLOG</key>
	<string>${NS_LOG}</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search Jobs</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.naukrigulf.searchJobs</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortlistedJobs</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Saved Jobs</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.naukrigulf.savedJobs</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>whoViewedCv</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Who Viewed my CV</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.naukrigulf.cvviewed</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>recommended</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Recommended Jobs</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.naukrigulf.recoJobs</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>JobSearchStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>isDebugMode</key>
	<string>${IS_DEBUG_MODE}</string>
</dict>
</plist>
